<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Upload File</title>
</head>
<body>
    <p>&nbsp;</p>
    <p></p>
    <h1 style="text-align: center;">Login</h1>
    <form action="/api/accounts/service_login" enctype="multipart/form-data" method="POST">
    <p style="text-align: center;"><label for="myfile">Username :&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </label><input placeholder="Email or Phonenumber" id="username" name="username" type="text" /></p>
    <p style="text-align: center;"><label for="myfile">Password :&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</label> <input placeholder="Your Password" id="password" name="password" type="password" /></p>
    <p style="text-align: center;"><input type="submit" value="submit" /></p>
    </form>
</form>
<p style="text-align: center;"><button onclick="window.location.href='/api/accounts/regis'"> Create New Account </button></p>
</body>
</html>